<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>¡Donde podrás crear tus propios juegos!</p>
	<p><a href="/quizes/question">Comenzar juego</a></p>
  </body>
</html>
