<label for="tema" class="rem">Tema: </label>
<select id="tema" name="quiz[tema]">
	<option value="otro" selected>Otro</option>
	<option value="tecnologia">Tecnología</option>
	<option value="ocio">Ocio</option>
	<option value="ciencia">Ciencia</option>
	<option value="humanidades">Humanidades</option>
</select>
<label for="preg" class="rem">Pregunta: </label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"><br/>
<label for="resp" class="rem">Respuesta: </label>
<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"><br/>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" name="button" value="Enviar">
