<form action="/quizes/<%= quiz.id %>/answer" method="GET">
	PREGUNTA: <%= quiz.pregunta %>
	<input type="text" name="respuesta" value="Responda aquí"/>
	<input type="submit" value="Enviar respuesta">
</form>
